name: Testing

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  tests_single:
    name: Testing single server
    runs-on: ubuntu-latest

    env:
      CLICKHOUSE_PORT: 18123
      CLICKHOUSE_DATABASE: default

    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        version:
          - ruby: 2.7
            rails: 7.1.3
          - ruby: 3.0
            rails: 7.1.3
          - ruby: 3.2
            rails: 7.1.3
          - ruby: 3.2
            rails: 7.2.1
          - ruby: 3.2
            rails: 8.0.1
          - ruby: 3.2
            rails: 8.1
        clickhouse: [ '24.9' ]

    steps:
      - uses: actions/checkout@v4

      - name: Start ClickHouse ${{ matrix.clickhouse }}
        uses: hoverkraft-tech/compose-action@v2.1.0
        env:
          CLICKHOUSE_VERSION: ${{ matrix.clickhouse }}
        with:
          compose-file: '.docker/docker-compose.yml'
          down-flags: '--volumes'

      - run: echo 'gem "activerecord", "~> ${{ matrix.version.rails }}"' >> Gemfile

      - name: Set up Ruby ${{ matrix.version.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.version.ruby }}
          bundler-cache: true

      - run: bundle exec rspec spec/single --format progress

  tests_cluster:
    name: Testing cluster server
    runs-on: ubuntu-latest

    env:
      CLICKHOUSE_PORT: 28123
      CLICKHOUSE_DATABASE: default
      CLICKHOUSE_CLUSTER: test_cluster

    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        version:
          - ruby: 2.7
            rails: 7.1.3
          - ruby: 3.0
            rails: 7.1.3
          - ruby: 3.2
            rails: 7.1.3
          - ruby: 3.2
            rails: 7.2.1
          - ruby: 3.2
            rails: 8.0.1
          - ruby: 3.2
            rails: 8.1
        clickhouse: [ '24.9' ]

    steps:
      - uses: actions/checkout@v4

      - name: Start ClickHouse Cluster ${{ matrix.clickhouse }}
        uses: hoverkraft-tech/compose-action@v2.1.0
        env:
          CLICKHOUSE_VERSION: ${{ matrix.clickhouse }}
        with:
          compose-file: '.docker/docker-compose.cluster.yml'
          down-flags: '--volumes'

      - run: echo 'gem "activerecord", "~> ${{ matrix.version.rails }}"' >> Gemfile

      - name: Set up Ruby ${{ matrix.version.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.version.ruby }}
          bundler-cache: true

      - run: bundle exec rspec spec/cluster --format progress
